.member-table[data-v-d6adae06]{border:1px solid #000;border-collapse:separate;margin:auto;max-width:90%}.member-table td[data-v-d6adae06],.member-table th[data-v-d6adae06]{border:1px solid #000;padding:5px 10px}
